@using MvcPaging;
@using StoreCheck;
@model IPagedList<StoreCheck.Models.Spr_Outlets>


    @{ViewBag.Title = "Торговые точки";}

<h2>Торговые точки</h2>

<form action="EditStore" method="post" enctype = "multipart/form-data">     
                                                                                                                                   
       <input type="submit" value="Поиск" />
<table>
    <tr>
        <th></th>
        <th>
            Регион<br/>
            @Html.DropDownList("RegNm")
        </th>
        <th>
            Область<br/>
            @Html.DropDownList("OblNm") 
        </th>
        <th>
            Дистрибутор<br/>
            @Html.DropDownList("DistNm")
        </th>
        <th>
            Каналреализации<br/>
            @Html.DropDownList("Release") 
        </th>
        <th>
            КатегорияТРТ<br/>
            @Html.DropDownList("Category")
        </th>
        <th>
            Клиент<br/>
            @Html.DropDownList("Client")
        </th>
        <th>
            Адресдоставки<br/>
             @Html.DropDownList("Adress")
        </th>
    </tr>
   

    @foreach (var item in Model)
    {
        <tr>
            <td class="td_btn">
                @Html.ActionImage("ViewChecks", new { id = item.ID }, "~/Content/Images/page.png", "Просмотр")
                @Html.ActionImage("Spr_OutletsEdit", "Spr", new { id = item.ID }, "~/Content/Images/page_edit.png", "Редактировать")
                @Html.ActionImage("SaveCheckRes", new { id = item.ID }, "~/Content/Images/page_add.png", "Добавить проверку")
            </td>
            <td>
                @item.Регион
            </td>
            <td>
                @item.Область
            </td>
            <td>
                @item.Дистрибутор
            </td>
            <td>
                @item.Каналреализации
            </td>
            <td>
                @item.КатегорияТРТ
            </td>
            <td>
                @item.Клиент
            </td>
            <td>
                @item.Адресдоставки
            </td>          
        </tr>
    }
</table>
</form>
<div class="pager">
    @Html.Pager(ViewData.Model.PageSize, ViewData.Model.PageNumber, ViewData.Model.TotalItemCount)
</div>



