@using MvcPaging;
@using StoreCheck;
@model IPagedList<StoreCheck.Models.Spr_Outlets>

@{ViewBag.Title = "Торговые точки";}
@helper sortLink(string name, int id)
{
   <a href="@Url.Action("EditStore", "Store", new { sortby = id, isasc = (id == ViewBag.sortBy ? !ViewBag.isAsc : ViewBag.isAsc).ToString().ToLower() })">@name</a>     
    if (id == ViewBag.sortBy)
    {
       <i class="arrow @( ViewBag.isAsc ? "up" : "down")">&nbsp;&nbsp;</i>   
    }
    else
    {
       <i class="arrow">&nbsp;&nbsp;</i> 
    }    
}

<h2>Торговые точки</h2>

<form action="@Url.Action("EditStore", "Store")" method="get" enctype = "multipart/form-data"> 
<div class="product-search">
 <input id="search" name="search" type="text" value="@ViewBag.Search" /><input type="submit" value="Поиск" />
</div>    
                                                                                                                                        
<table>
    <tr>
        <th class="td_btn"> &nbsp;</th>
        <th>@sortLink("Регион", 1)<br/>
            @Html.DropDownList("RegNm")
        </th>
        <th>
            @sortLink("Область", 2)<br/> 
            @Html.DropDownList("OblNm") 
        </th>
        <th>
            @sortLink("Дистрибутор", 3)<br/>
            @Html.DropDownList("DistNm")
        </th>
        <th>
            @sortLink("Каналреализации", 4)<br/>
            @Html.DropDownList("Release") 
        </th>
        <th>
            @sortLink("КатегорияТРТ", 5)<br/>
            @Html.DropDownList("Category")
        </th>
        <th>
            @sortLink("Клиент", 6)<br/>
            @Html.DropDownList("Client")
        </th>
        <th>
            @sortLink("Адресдоставки", 7)<br/>
            @Html.DropDownList("Adress")
        </th>
         <th>
            @sortLink("Город", 8)<br/>
             @Html.DropDownList("City")
        </th>
         <th>
            @sortLink("Улица", 9)<br/>
             @Html.DropDownList("Street")
        </th>
         <th>
            @sortLink("Дом", 10)<br/>
             @Html.DropDownList("House")
        </th>
         <th>
            @sortLink("Примечание", 11)<br/>
             @Html.DropDownList("Comment")
        </th>
    </tr>
   

    @foreach (var item in Model)
    {
          <tr id="@item.ID">
            <td class="td_btn">
                @Html.ActionImage("ViewChecks", new { id = item.ID }, "~/Content/Images/page.png", "Просмотр")
                @Html.ActionImage("Spr_OutletsEdit", "Spr", new { id = item.ID }, "~/Content/Images/page_edit.png", "Редактировать", new { @class = "openDialog", data_dialog_id = item.ID, data_dialog_title = "Редактирование торговой точки ("+ item.Клиент+ ")" }) 
                @*Html.ActionLink("Редактировать", "Spr_OutletsEdit", "Spr", new { id = item.ID }, new { @class = "openDialog", data_dialog_id = item.ID, data_dialog_title = "MY TITLE" })    *@
                @Html.ActionImage("SaveCheckRes", new { id = item.ID }, "~/Content/Images/page_add.png", "Заполнить StoreCheck")
            </td>
            <td>
                @item.Регион
            </td>
            <td>
                @item.Область
            </td>
            <td>
                @item.Дистрибутор
            </td>
            <td>
                @item.Каналреализации
            </td>
            <td>
                @item.КатегорияТРТ
            </td>
            <td>
                @item.Клиент
            </td>
            <td>
                @item.Адресдоставки
            </td> 
            <td>
                @item.ГородТРТ
            </td>
            <td>
                @item.УлицаТРТ
            </td>
            <td>
                @item.ДомТРТ
            </td>
            <td>
                @item.ПримечаниеТРТ
            </td>             
        </tr>
       
    }
</table>
</form>
<div class="pager">
    @Html.Pager(ViewData.Model.PageSize, ViewData.Model.PageNumber, ViewData.Model.TotalItemCount)
</div>

<div id="emailDialog"></div>



