@using System.Web.UI.WebControls
@using StoreCheck.Models;
@model StoreCheck.Models.Spr_Outlets
          
@{ViewBag.Title = Model.Клиент;}

<h2>@Model.Клиент</h2>

<form action="SaveCheckRes" method="post"  enctype = "multipart/form-data">
      
        @Html.Hidden("OutletID", Model.ID)
 
        @{          
            string s = String.Empty;
            if (ViewBag.SortTp == enSortType.enSrtAssort)
            {
                foreach (Spr_CAP item in ViewBag.ChkBoxLstNm)
                {
                    if (s != item.Ассортимент)
                    {                      
                        <br/><div class="colapseTitle"><span class="colapseBtn" id="@item.КодАссортимент" OnClick="colapseBtnClick(arguments[0]);">+</span>@item.Ассортимент</div>
                    }
                        <li class="colapseItem @item.КодАссортимент">@Html.CheckBox(item.ID.ToString()) @Html.Label(item.SKUКМУ) </li>
                    
                    s = item.Ассортимент;
                }
            }
            else
            {
                foreach (Spr_CAP item in ViewBag.ChkBoxLstNm)
                {
                    if (s != item.ТорговаяМарка)
                    {
                        <br/><div class="colapseTitle"><span class="colapseBtn" id="@item.ТорговаяМарка" OnClick="colapseBtnClick(arguments[0]);">+</span>@item.ТорговаяМарка</div>                    
                    }
                        <li class="colapseItem @item.ТорговаяМарка">@Html.CheckBox(item.ID.ToString()) @item.SKUКМУ </li>                   
                    s = item.ТорговаяМарка;
                }
            }
         }

         <br/>
        <fieldset id ="filelist">
         <legend>Файлы (jpg, png, bmp)</legend>

            <label for="file1">Файл:</label>
            <input type="file" name="files" id="file1" />
            <br/>
            <label for="file2">Файл:</label>
            <input type="file" name="files" id="file2" />
            <br/>
            <label for="file1">Файл:</label>
            <input type="file" name="files" id="file3" />
            <br/>
            <label for="file2">Файл:</label>
            <input type="file" name="files" id="file4" />
            <br/>
          </fieldset>               
                   
        <input type="submit" value="Сохранить" />

    </form>

<p>
    @Html.ActionLink("Назад", "EditStore")
</p>
