@using StoreCheck.Models;
@model StoreCheck.Models.Spr_Outlets


@{
    ViewBag.Title = "Spr_OutletsDetails";
}

<h2></h2>

<fieldset>
    <legend>Spr_Outlets</legend>
    @using (Html.BeginForm("SaveStore", "Store"))
    {
        @Html.Hidden("OutletID", @Model.ID )
          <table>
              
          @foreach (Spr_CAP item in ViewBag.ChkBoxLstNm)
          {
              <tr>
              <td>@Html.Label(item.SKUКМУ) </td> 
              <td>@Html.CheckBox(item.ID.ToString()) </td>
              </tr>
          } 
          </table>                                                                                                                                            
           <input type="submit" value="Сохранить" />  
    }
</fieldset>
<p>
    @Html.ActionLink("Назад", "EditStore")
</p>
