@model StoreCheck.Models.Users
@using StoreCheck.Models

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = " " }))
{
    <div class="display-field">
     <b>Логин:</b>  @Html.DisplayFor(model => model.Login)
    </div>
    <br/>
    <div class="display-field">
     <b>ФИО:</b>  @Html.DisplayFor(model => model.FIO)
    </div>
    <br/>       
    <div class="colapseTitle"><span class="colapseBtn" id="grpLst" onclick="collapseBtnClick(arguments[0]);">-</span>Группировка</div>
    <ul>
    @{
    bool b = (ViewBag.SortType == enSortType.enSrtAssort);
         <li class="grpLst">@Html.RadioButton("SortType", (object)enSortType.enSrtAssort, b) @Html.Label("По ассортименту")</li>                                                          
         <li class="grpLst">@Html.RadioButton("SortType", (object)enSortType.enSrtTM, !b) @Html.Label("По торговой марке")</li>
     }
    </ul> 

    <div class="colapseTitle"><span class="colapseBtn" id="rightsLst" onclick="collapseBtnClick(arguments[0]);">+</span>Права</div>
    <ul class="rightsLstUL">  
    @{ foreach (TRights itm in ViewBag.Rights)
       {
       <li class="rightsLst"> @itm.Subject</li>
       } 
     }
    </ul>    
          
         <p>
             <input type="submit" class="saveDialog" value="Сохранить" />  <input type="button" class="close"  value="Закрыть" />
         </p>
}

