@model StoreCheck.Models.Spr_SR


@{String id = Model.ID.ToString();}
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = id }))
{    
    
    @Html.ValidationSummary(true) 
    <fieldset>
       <table class="spr_edit">
        <tr><td style="width:35%;">
            @Html.LabelFor(model => model.SBU)
         </td><td>
            @Html.EditorFor(model => model.SBU)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.Регион)
        </td><td>
            @Html.EditorFor(model => model.Регион)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.Область)
        </td><td>
            @Html.EditorFor(model => model.Область)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.Дистрибутор)
        </td><td>
            @Html.EditorFor(model => model.Дистрибутор)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.ТА)
        </td><td>
            @Html.EditorFor(model => model.ТА)
            @Html.ValidationMessageFor(model => model.ТА)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.ТипТА)
        </td><td>
            @Html.DropDownList("TypeTA")
            @Html.ValidationMessageFor(model => model.ТипТА)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.КодТА)
        </td><td>
            @Html.EditorFor(model => model.КодТА)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.МаршрутТА)
        </td><td>
            @Html.EditorFor(model => model.МаршрутТА)
            @Html.ValidationMessageFor(model => model.МаршрутТА)
        </td></tr>
       
       </table>

         @Html.HiddenFor(model => model.ID)

        <p>
            <input type="submit" class="dialogSave" value="Сохранить" />  <input type="button"  class="close" value="Закрыть" />
        </p>
    </fieldset>
}

<div>
</div>



