@using MvcPaging;
@using StoreCheck;
@model IPagedList<StoreCheck.Models.Spr_SR>

@{
    ViewBag.Title = "Справочник: Торговые агенты";
}

@helper sortLink(string name, int id)
{
   <a href="@Url.Action("Spr_SRList", "Spr", new { sortby = id, isasc = (id == ViewBag.sortBy ? !ViewBag.isAsc : ViewBag.isAsc).ToString().ToLower() })">@name</a>  
   if (id == ViewBag.sortBy)
   {
       <i class="arrow @( ViewBag.isAsc ? "up" : "down")">&nbsp;&nbsp;</i>
   }
   else
   {
       <i class="arrow">&nbsp;&nbsp;</i> 
   }
    
}
<h2>Справочник:Торговые агенты</h2>


<p>
    @Html.ActionLink("Добавить", "Spr_SRCreate")
</p>


<form action="@Url.Action("Spr_SRList", "Spr")" method="get" enctype = "multipart/form-data"> 
<div class="product-search">
 <input id="search" name="search" type="text" value="@ViewBag.Search" /><input type="submit" value="Поиск" />
</div> 

<table>
  <thead>
    <tr>
        <th></th>
        <th>@sortLink("SBU", 1)<br/>@Html.DropDownList("SBU")</th>
        <th>@sortLink("Регион", 2)<br/>@Html.DropDownList("RegNm")</th>
        <th>@sortLink("Область", 3)<br/>@Html.DropDownList("OblNm")</th>
        <th>@sortLink("Дистрибутор", 4)<br/>@Html.DropDownList("DistNm")</th>
        <th>@sortLink("КодТА", 5)<br/>@Html.DropDownList("CodeTA")</th>
        <th>@sortLink("ТА", 6)<br/>@Html.DropDownList("TA")</th>
        <th>@sortLink("ТипТА", 7)<br/>@Html.DropDownList("TypeTA")</th>
        <th>@sortLink("МаршрутТА", 8)<br/>@Html.DropDownList("RouteTA")</th>
    </tr>
 </thead>
  <tbody>
@{int i = 1;}
@foreach (var item in ViewData.Model)
{
    <tr class="@(i++ % 2 == 0 ? "highlighted" : "")">
        <td class="td_btn">
        @Html.ActionImage("Spr_SREdit", new { id = item.ID }, "~/Content/Images/page_edit.png", "Редактировать")
        @Html.ActionImage("Spr_SRDetails", new { id = item.ID }, "~/Content/Images/page.png", "Просмотреть")
        @Html.ActionImage("Spr_SRDelete", new { id = item.ID }, "~/Content/Images/page_delete.png", "Удалить", new { onclick = "return confirm('Вы уверены')" })
        </td>  
        <td> @item.SBU</td>
        <td>@item.Регион</td>
        <td>@item.Область</td>
        <td>@item.Дистрибутор</td>
        <td>@item.КодТА</td>
        <td> @item.ТА</td>
        <td> @item.ТипТА</td>
        <td>@item.МаршрутТА</td>
    </tr>
}

</tbody>
</table>
</form>
<div class="pager">
    @Html.Pager(ViewData.Model.PageSize, ViewData.Model.PageNumber, ViewData.Model.TotalItemCount)
</div>
<div>
    @Html.ActionLink("Назад", "Spr")
</div>


