@using MvcPaging;
@using StoreCheck;
@model IPagedList<StoreCheck.Models.Spr_Rights>           

@{
    ViewBag.Title = "Справочник: Права";
}

<h2>Справочник: Права</h2>


<p>
    @Html.ActionLink("Добавить", "Spr_RightCreate")
</p>
<table>
  <thead>
    <tr>
        <th colspan="2">
            Права
        </th>
    </tr>
 </thead>
  <tbody>
@foreach (var item in ViewData.Model)
{
    <tr>               
       <td class="td_btn">
        @Html.ActionImage("Spr_RightEdit", new { id = item.ID }, "~/Content/Images/page_edit.png", "Редактировать")
        @Html.ActionImage("Spr_RightDetails", new { id = item.ID }, "~/Content/Images/page.png", "Просмотреть")
        @Html.ActionImage("Spr_RightDelete", new { id = item.ID }, "~/Content/Images/page_delete.png", "Удалить", new { onclick = "return confirm('Вы уверены')" })
       </td>  
        <td>
            @item.Name
        </td>

    </tr>
}

</tbody>
</table>

<div class="pager">
    @Html.Pager(ViewData.Model.PageSize, ViewData.Model.PageNumber, ViewData.Model.TotalItemCount)
</div>
<div>
    @Html.ActionLink("Назад", "Spr")
</div>

