@using MvcPaging;
@using StoreCheck;
@model IPagedList<StoreCheck.Models.Spr_Roles>
           

@{
    ViewBag.Title = "Справочник: Роли";
}

<h2>Справочник: Роли</h2>


<p>
    @Html.ActionLink("Добавить", "Spr_RoleCreate")
</p>
<table>
            <thead>
                <tr>
                    <th colspan="2">Роль</th>
                </tr>
            </thead>
    <tbody>
    @foreach (var item in ViewData.Model)
    {
        <tr>
                 <td class="td_btn">
                @Html.ActionImage("Spr_RoleEdit", new { id = item.ID }, "~/Content/Images/page_edit.png", "Редактировать")
                @Html.ActionImage("Spr_RoleDetails", new { id = item.ID }, "~/Content/Images/page.png", "Просмотреть")
                @Html.ActionImage("Spr_RoleDelete", new { id = item.ID }, "~/Content/Images/page_delete.png", "Удалить", new { onclick = "return confirm('Вы уверены')" })
                </td>  
            <td>
                @item.Name
            </td>  
        </tr>
    }
</tbody>
</table>

<div class="pager">
    @Html.Pager(ViewData.Model.PageSize, ViewData.Model.PageNumber, ViewData.Model.TotalItemCount)
</div>
<div>
    @Html.ActionLink("Назад", "Spr")
</div>

