@using System.Web.UI.WebControls
@using StoreCheck.Models;
@model StoreCheck.Models.Spr_Rights

@{
    ViewBag.Title = "Создание: Права";
}

<h2>"Создание: Права</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Новое право</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <br/>
        <div class="AdmObjLst">
        <span><b>Сущность:</b></span>
        <br/>
        @{
            int tp = -1;
            String s = String.Empty; 
            foreach (Spr_AdmObject item in ViewBag.ChkBoxLst_AdmObj)
            {
                if (item.Type == 0) { s = "Доступ к разделам"; }
                else if (item.Type == 1) { s = "Модификация данных"; }
                else { s = "Другое"; }
                if (tp != item.Type)
                {
                    <br/><div class="colapseTitle"><span class="AOcolapseBtn" id="@item.Type" OnClick="AOcollapseBtnClick(arguments[0]);">-</span>@s</div>
                }
                    <li class="AOcolapseItem @item.Type">@Html.CheckBox(item.ID.ToString()) @Html.Label(item.Name)</li>
                    
                tp = item.Type ?? tp;
            }
        }
        </div>
        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад", "Spr_RightsList")
</div>

