@using MvcPaging;
@using StoreCheck;
@model IPagedList<StoreCheck.Models.Spr_SR>

@{
    ViewBag.Title = "Справочник: Торговые агенты";
}

<h2>Справочник:Торговые агенты</h2>


<p>
    @Html.ActionLink("Добавить", "Spr_SRCreate")
</p>

<form action="Spr_SRList" method="post" enctype = "multipart/form-data"> 

<input type="submit" value="Поиск" />

<table>
  <thead>
    <tr>
        <th></th>
        <th>
            SBU<br/>@Html.DropDownList("SBU")
        </th>
        <th>
            Регион<br/>@Html.DropDownList("RegNm")
        </th>
        <th>
            Область<br/>@Html.DropDownList("OblNm")
        </th>
        <th>
            Дистрибутор<br/>@Html.DropDownList("DistNm")
        </th>
        <th>
            КодТА<br/>@Html.DropDownList("CodeTA")
        </th>
        <th>
            ТА<br/>@Html.DropDownList("TA")
        </th>
        <th>
            ТипТА<br/>@Html.DropDownList("TypeTA")
        </th>
        <th>
            МаршрутТА<br/>@Html.DropDownList("RouteTA")
        </th>
    </tr>
 </thead>
  <tbody>
@foreach (var item in ViewData.Model)
{
    <tr>
        <td class="td_btn">
        @Html.ActionImage("Spr_SREdit", new { id = item.ID }, "~/Content/Images/page_edit.png", "Редактировать")
        @Html.ActionImage("Spr_SRDetails", new { id = item.ID }, "~/Content/Images/page.png", "Просмотреть")
        @Html.ActionImage("Spr_SRDelete", new { id = item.ID }, "~/Content/Images/page_delete.png", "Удалить", new { onclick = "return confirm('Вы уверены')" })
        </td>  
        <td>
            @item.SBU
        </td>
        <td>
            @item.Регион
        </td>
        <td>
            @item.Область
        </td>
        <td>
            @item.Дистрибутор
        </td>
        <td>
            @item.КодТА
        </td>
        <td>
            @item.ТА
        </td>
        <td>
            @item.ТипТА
        </td>
        <td>
            @item.МаршрутТА
        </td>
    </tr>
}

</tbody>
</table>
</form>
<div class="pager">
    @Html.Pager(ViewData.Model.PageSize, ViewData.Model.PageNumber, ViewData.Model.TotalItemCount)
</div>
<div>
    @Html.ActionLink("Назад", "Spr")
</div>


