@model StoreCheck.Models.Spr_Outlets


@{String id = Model == null ? String.Empty : Model.ID.ToString();}
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = id }))
{    
    
    @Html.ValidationSummary(true)
    <fieldset>
       <table class="spr_edit">
        <tr><td style="width:35%;">
            @Html.LabelFor(model => model.SBU)
         </td><td>
            @Html.EditorFor(model => model.SBU)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.Регион)
        </td><td>
            @Html.EditorFor(model => model.Регион)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.Область)
        </td><td>
            @Html.EditorFor(model => model.Область)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.Дистрибутор)
        </td><td>
            @Html.EditorFor(model => model.Дистрибутор)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.КодКлиент)
        </td><td>
            @Html.EditorFor(model => model.КодКлиент)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.ИНН)
        </td><td>
            @Html.EditorFor(model => model.ИНН)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.КодАдресдоставки)
        </td><td>
            @Html.EditorFor(model => model.КодАдресдоставки)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.Клиент)
        </td><td>
            @Html.EditorFor(model => model.Клиент)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.Адресдоставки)
        </td><td>
            @Html.EditorFor(model => model.Адресдоставки)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.ОбластьТРТ)
        </td><td>
            @Html.EditorFor(model => model.ОбластьТРТ)
            @Html.ValidationMessageFor(model => model.ОбластьТРТ)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.РайонТРТ)
        </td><td>
            @Html.EditorFor(model => model.РайонТРТ)
            @Html.ValidationMessageFor(model => model.РайонТРТ)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.ГородТРТ)
        </td><td>
            @Html.EditorFor(model => model.ГородТРТ)
            @Html.ValidationMessageFor(model => model.ГородТРТ)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.УлицаТРТ)
        </td><td>
            @Html.EditorFor(model => model.УлицаТРТ)
            @Html.ValidationMessageFor(model => model.УлицаТРТ)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.ДомТРТ)
        </td><td>
            @Html.EditorFor(model => model.ДомТРТ)
            @Html.ValidationMessageFor(model => model.ДомТРТ)
        </td></tr>
         <tr><td>
            @Html.LabelFor(model => model.ТипАкции)
        </td><td>
            @Html.DropDownList("TypeAkciya")
            @Html.ValidationMessageFor(model => model.ТипАкции)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.ПримечаниеТРТ)
        </td><td>
            @Html.EditorFor(model => model.ПримечаниеТРТ)
            @Html.ValidationMessageFor(model => model.ПримечаниеТРТ)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.Каналреализации)
        </td><td>
            @Html.DropDownList("ChannelRetail")
            @Html.ValidationMessageFor(model => model.Каналреализации)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.КатегорияТРТ)
        </td><td>
            @Html.DropDownList("CatigoryTRT")
            @Html.ValidationMessageFor(model => model.КатегорияТРТ)
       </td></tr>
       <tr><td>
            @Html.LabelFor(model => model.Холдинг)
       </td><td>
       
            @Html.DropDownList("Holding")
            @Html.ValidationMessageFor(model => model.Холдинг)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.Актуальность)
        </td><td>
            @Html.DropDownList("Actuals")
            @Html.ValidationMessageFor(model => model.Актуальность)
        </td></tr>
        <tr><td>
            @Html.LabelFor(model => model.ПровереноМП)
        </td><td>
            @Html.EditorFor(model => model.ПровереноМП)
            @Html.ValidationMessageFor(model => model.ПровереноМП)
       </td></tr>
       </table>

         @Html.HiddenFor(model => model.ID)

        <p>
            <input type="submit" class="dialogSave" value="Сохранить" />  <input type="button"  class="close" value="Закрыть" />
        </p>
    </fieldset>
}

<div>
    @*Html.ActionLink("Назад", "EditStore", "Store")*@
</div>



