@model IEnumerable<StoreCheck.Models.Spr_Roles>

@{
    ViewBag.Title = "Справочник: Роли";
}

<h2>Справочник: Роли</h2>

<p>
    @Html.ActionLink("Добавить", "Spr_RoleCreate")
</p>
<table>
    <tr>
        <th colspan="2">
            Роли
        </th>
    </tr>

@foreach (StoreCheck.Models.Spr_Roles item in ViewBag.Spr_RolesItems)
{
    <tr>
         <td>
            @item.Name
        </td>
         <td>
            @Html.ActionLink("Редактировать", "Spr_RoleEdit", new { id=item.ID }) |
            @Html.ActionLink("Просмотреть", "Spr_RoleDetails", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Spr_RoleDelete", new { id = item.ID }, new { onclick = "return confirm('Вы уверены')" })
        </td>     
    </tr>
}

</table>

